body{    
    font-family: 'Cormorant Garamond', serif;
    color: black;
}

h1{ 
    font-size: 80px;
    margin-left: 5%;
    margin-top: 5%;
}

h3{ 
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-left: 20%;
    margin-right: 20%;   
    margin-bottom: 3%;
}

p{
    margin-left: 20%;
    margin-top: 8%;
    margin-bottom: 3%;
    margin-right: 20%;   
    font-size: 24px;
}

.credits{
    float: right; 
    text-align: right;
    margin-right: 10%;
}

#pi-logo{
    width: 100px;
}

h6{
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    font-size: 10px;
}

